:root {
    --white-shade: #d8d8d8;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: static;
}

header {
    background: linear-gradient(0deg, rgba(21,116,255,1) 14%, rgba(115,166,240,1) 57%, rgba(118,168,240,1) 58%, rgba(255,255,255,1) 100%);
    height: 100px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .logo {
    font-size: 40px;
    color: white;
}

header nav {
    width: 30%;
    display: flex;
    align-items: center;
    transition:500ms ease-in-out;
}

header nav a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 200ms ease-in-out 0s;
    color: white;
}
.open__nav 
{
    display: none;
}
.open__nav img 
{
    height:30px;
    transform:rotateY(180deg);
}
.close__nav 
{
    display: none;
}
header nav a:hover {
    color: rgb(43, 121, 251);
    box-shadow: gray -2px -2px 10px;
    background-color: white;
}

.main--container {
    height: calc(-200px + 100vh);
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main__info {
    background: rgba(255, 255, 255, 0.97);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align:center;
}
.main__button {
    padding: 8px 20px;
    border-radius: 25px;
    background-color:white;
    border:1px solid rgb(43, 121, 251);
    letter-spacing: 2px;
    position: relative;
    width: fit-content;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    z-index: 1;
  }
  .main__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.5s ease-in-out;
    z-index: -1;
  }
  .main__button:hover
  {
    color: white;
  }
  
  .main__button:hover::before {
    width: 100%;
    background-color: rgb(43, 121, 251);
  }

footer {
    height: 100px;
    background: #f5f5f5;
    display:flex;
    padding:0 20px;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    overflow: hidden;
}
.footer__description:hover
{
    color: rgb(43, 121, 251);
    width: 20%;
}
.footer__logo 
{
    font-size:22px;
    color:rgb(43, 121, 251);
    width: 20%;
}
.footer__links
{
    display:flex;
    align-items:flex-end;
    gap: 10px;
    width: 20%;
}
.footer__links a 
{
    color:#1a1818;
    text-decoration:none;
    font-size:12px;
}
.footer__links a:hover 
{
    color: rgb(43, 121, 251);
}


@media (max-width:768px)
{
    body 
    {
        overflow:hidden;
        background: red;
    }
    header nav {
        background: linear-gradient(-90deg, rgba(21, 116, 255, 1) 14%, rgba(115, 166, 240, 1) 57%, rgba(118, 168, 240, 1) 58%, rgba(255, 255, 255, 1) 100%);
        position: absolute;
        right: -200%; 
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 5;
        gap: 20px;
        height: 100%;
        width: 50%;
    }

    nav.active {
        right: 0; /* Updated this line */
    }

    header nav a 
    {
        color:white;
    }
    
    .open__nav 
    {
        display: block;
    }
    .close__nav 
    {
        display:block;
        position:absolute;
        top:40px;
        right:40px;
        color:white;
        font-size:30px;
    }

    footer 
    {
        flex-direction:column;
        align-items:center;
        text-align:center;
        justify-content:space-evenly;
    }
    .footer__links 
    {
        align-items:center;
        justify-content:center;
    }
}